@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "~bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import './util.scss';

body {
  font-family: 'Open Sans', sans-serif, "Helvetica Neue", Arial;
  background-color: #f9f9f9;
  height: 100%;
}

html {
  height: 100%;
}

h1 {
  color: #723C99;
}

a {
  color: #6E316D;
  &:hover,
  &:focus {
    color: #723C99;
  }
}

#react-root, .page-fill {
  height: 100%;
}

.text-small {
  font-size: 0.8em;
}

.btn {
  border: none;
  @include transition(background-color 0.25s ease-out);
  &:hover {
    //box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    @include transition(background-color 0.25s ease-in);
  }
}

.btn-purple {
  @include button-variant(#fff, #9c499b, #a84ba7);
}

.jumbotron {
  background-color: #dae0e2;
  h1 {
    color: #723C99;
  }
}

.img-circle {
  border: 1px solid #fff;
}

.page-wrap {
  min-height: 100%;
  clear: both;
  overflow: hidden;
  margin-bottom: 0 - $footer-height;
  padding-bottom: 55px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap:after {
  height: $footer-height;
}