@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "~bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

body {
  font-family: 'Open Sans', sans-serif, "Helvetica Neue", Arial;
  background-color: #f9f9f9;
}

.text-small {
  font-size: 0.8em;
}

h1 {
  color: #723C99;
}

.btn {
  border: none;
  @include transition(background-color 0.25s ease-out);
  &:hover {
    //box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    @include transition(background-color 0.25s ease-in);
  }
}

.btn-purple {
  @include button-variant(#fff, #9c499b, #a84ba7);
}

.jumbotron {
  background-color: #dae0e2;
  h1 {
    color: #723C99;
  }
}

.img-circle {
  border: 1px solid #fff;
}