.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  color: #fff;
  //border-top: solid 1px #f5f5f5;
  background-color: #6E316D;
  margin-top: 50px;
  .sub-list {
    .sub-header {
      font-weight: bold;
      font-size: 1.1em;
    }
    list-style: none;
    padding-left: 0;
    li {
      margin-top: 5px;
    }
  }
}

.footer a {
  color: #fff;
  &:hover {
    color: #ededed;
  }
}