@import '../../util.scss';

.footer {
  height: $footer-height;
  font-size: 0.9em;
  padding-top: 40px;
  width: 100%;
  color: #fff;
  //border-top: solid 1px #f5f5f5;
  background-color: #6E316D;
  .badge {
    background-color: #723C99;
    color: #fff;
  }
  .sub-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-top: 5px;
    }
    .sub-header {
      font-weight: bold;
      font-size: 1.1em;
    }
  }
  a {
    color: #fff2f9;
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
      text-transform: none;
    }
  }
}